
@{
    ViewBag.Title = "ReadOnlyLineChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="country" class="container flexEnd">
        <div class="col-md-3">
            <b>Country: </b>
            <select>
                <option value="Select_Country">Select a Country</option>
                <option value="United_States">United States</option>
                <option value="México">México</option>
            </select>
        </div>

        <div id="state" class="col-md-3 text-center">
            <b>State: </b>
            <select>
                <option value="Select_State">Select a State</option>
                <option value="Colima">Colima</option>
                <option value="Merida">Merida</option>
            </select>
        </div>
        <div id="year" class="col-md-2 text-right">
            <b>Year: </b>
            <select>
                <option value="Select_Year">Select a Year</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div id="button" class="col-md-2 text-right">
            <a href="#" class="btn btn-lg btn-primary" style="width: 250px">Generate Chart</a>
        </div>
    </div> <!-- container end -->
</div> <!-- form-group end -->

<div class="chartContainer" style="height: 300px; width: 100%;"></div>

